@import 'variables';

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html,
body {
	scroll-behavior: smooth;

	@include scrollbars(10px, $primary-color, $grey);
}

body {
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	background: $light;
	color: $dark;

	.modal-header .close {
		outline: none;
	}
}
